#### Backend ####
NEXT_PUBLIC_BACKEND_URL="http://192.168.0.76:8087/api/"


#### Defaults ####
NEXT_PUBLIC_USE_DEFAULT_LOGO_TAGLINE="true" 


#### Branding ####  only if the brand is different from default Indryve else keep it blank
NEXT_PUBLIC_BRAND_NAME="AnyCompany"
NEXT_PUBLIC_BRAND_LOGO_URL="https://picsum.photos/100/100"
NEXT_PUBLIC_BRAND_LOGO_TAGLINE="Hello World"
NEXT_PUBLIC_BRAND_LOGO_DARK_URL="https://picsum.photos/200/300" ####(Optional But keep this to "" without any spaces)
NEXT_PUBLIC_BRAND_TITLE="Indryve Admin Portal"
NEXT_PUBLIC_BRAND_DESC="Indryve workspace portal"
NEXT_PUBLIC_BRAND_FAVICON_URL="https://picsum.photos/50/50"


########### Oauth Login ###########

# Use Default Endorse Login if(true) it goes to Endorse else it goes to admin/login ####
NEXT_PUBLIC_USE_DEFAULT_ENDORSE_LOGIN="true"

##The below is of Indryve Admin Portal
NEXT_PUBLIC_OAUTH_URL="http://localhost:8087/api/oauth2/login/endorse"
NEXT_PUBLIC_OAUTH_REDIRECT_URL="http://localhost:3000/callback"

### The below is of Indryve Frontend Not the Admin Portal
NEXT_PUBLIC_INDRYVE_FRONTEND_URL="https://dryve.indryve.com"
NEXT_PUBLIC_INDRYVE_FRONTEND_REDIRECT_URL="https://dryve.indryve.com/callback"



################# Website Links ####################
NEXT_PUBLIC_PRIVACY_POLICY_LINK="https://indryve.com/privacy-policy"
NEXT_PUBLIC_TERMS_OF_USE_LINK="https://indryve.com/terms-of-use"
NEXT_PUBLIC_SUPPORT_LINK="https://indryve.com/support"


#### Encryption and Decryption (Do not touch this if you don't know what you are doing) ####

NEXT_PUBLIC_ENCRYPTION_KEY="MyNameIsBOBandIloveCodingThisProjectisIndryveAdminPortal"


##### Encryption and Decryption for Password Encryption  (Do not touch this if you don't know what you are doing) ####
NEXT_PUBLIC_PASSWORD_ENCRYPT_KEY="MySecretKey"
NEXT_PUBLIC_LOGIN_PUB_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0PZnj8JQ/a/uO4MVm817PyO/EPM51WeYhByeNVQn1y0rwNVprzznH9N7KNxayDfvCt7/kPUMxqc4ALZkbr5Q/akpDTG/w/W63VYIfZAqC/Rb7sRwHNvGV0/3DhfCby0RVOYXe43McbseJnrgandaEk4k6h53yWr5onMB/PSa8uSjlUKFTd6A/YdyQuqN4DnvNtjfGXyGLFxAXYA6nmGT33eznPdfoN+7qwmPUVQgvi2IgpqTXuTjkv28HFJaZsNdqyqEfUSIzBIV4BRgOX9f1ct72PporTYQ/5fYUo154BfiuekiWcgL6whueFaBzdYP0U7Jcl4k7wfPy2OJULYy9QIDAQAB
-----END PUBLIC KEY-----"


############# Applications ###############

NEXT_PUBLIC_DEFAULT_INDRYVE_APPLICATION_NAME="Indryve"
NEXT_PUBLIC_DEFAULT_INDRYVE_MAIL_NAME="Indryve Mail"
NEXT_PUBLIC_DEFAULT_INDRYVE_CHAT_NAME="Indryve Converse"
NEXT_PUBLIC_DEFAULT_INDRYVE_MEET_NAME="Indryve Meet"
NEXT_PUBLIC_DEFAULT_INDRYVE_VIDEOS_NAME="Indryve Videos"
NEXT_PUBLIC_DEFAULT_INDRYVE_SUITE_NAME="Indryve Suite"


