@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* //////Heading///// */

.largeheading {
  @apply text-[17px] font-semibold text-iconcolor tracking-wide;
}
.normalheading {
  @apply text-[15px] font-semibold text-iconcolor tracking-wide;
}
.smallheading {
  @apply text-[14px] font-bold text-iconcolor tracking-wide;
}

/* //////Subheading///// */

.largesubheading {
  @apply text-[16px] font-semibold text-textcolor;
}
.normalsubheading {
  @apply text-[14px] font-semibold text-textcolor;
}
.smallsubheading {
  @apply text-[12px] font-semibold text-textcolor;
}

/* //////Paragraph///// */

.largeparagraph {
  @apply text-[14px] text-textcolor;
}
.normalparagraph {
  @apply text-[12px] text-textcolor;
}
.smallparagraph {
  @apply text-[11px] text-textcolor;
}

/* ///// Tiny///// */

.tiny {
  @apply text-xs text-textcolor;
}
